
.authWrap{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;

    .authBlock{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 2px solid black;
        padding: 10px;
    }
}
